<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/rainy-weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <div class="main-content">
        <img src="https://img.icons8.com/bubbles/100/000000/error.png">
        <h5>{{error_message}}</h5>
    </div>

    {{>footer}}
</body>

</html>