<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="https://img.icons8.com/ios/50/000000/rainy-weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    {{>header}}
    <div class="main-content">
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>